./projectnames/node_modules/
./projectnames/.expo/
./projectnames/npm-debug.*
./projectnames/*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
./projectnames/*.p8
./projectnames/*.p12
./projectnames/*.key
./projectnames/*.mobileprovision
./projectnames/*.orig.*
./projectnames/web-build/

# macOS
./projectnames/DS_Store

# take a look at this only
private